<!DOCTYPE html>
<html>
<head>
<style>
h1 {
            color: red;
      }

body {
  background-color: yellow;
}
h2 {
            color: green;
}
p {
  background-color: lightblue;
}
</style>
</head>
