ul.nav li {
   display: inline-block;
   padding-right: 10px;
   background-color: red;
   color: white;
}

ul.nav a {
   color: white;
}

.color-info {
    border: 0.3px solid black;
}

#about_blue {
   background-color: #6495ED;
   magin-bottom: 30px;
}

#about_yellow {
   background-color: #FFEBCD;
}

#about_blue li {
   color: blue;
}

#about_yellow li {
    color: orange;
}

.important {
   font-size: 16px;
   font-weight: bold;
}
