p {
   color: blue;
   font-family: 'Helvetica';
   font-size: 16px;
}

h1 {
    color: red;
}

ul li {
   background-color: yellow;
}

h2 {
  color: green;
  background-color: orange;
}

ol li {
   background-color: teal;
}
